body {
    font-family: Arial, sans-serif;
    background-color: #211818; /* Changed background color */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 50px; /* Updated corner radius */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 508px; /* Updated width */
    height: 490px; /* Updated height */
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #218838;
}

.login-container a {
    color: #007bff;
    text-decoration: none;
    display: block;
    margin-top: 10px;
}

.login-container a:hover {
    text-decoration: underline;
}